@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600");

body {
  background-color: #191919;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding: 50px;
}

th {
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

td {
  padding: 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #202020;
}
tr:nth-child(odd) {
  background-color: #252525;
}

.icon-red {
  color: #e32d2d;
}

.icon-green {
  color: #62d126;
}

.icon-grey {
  color: #808080;
}

.icon-blue {
  color: #2a85db;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  table-layout: fixed;
  border-collapse: collapse;
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  top: -190;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding: 5px;
  z-index: 1;
}

.tooltip img {
  width: 300px;
  height: auto;
  border-radius: 4px;
}

.icon-container:hover .tooltip {
  display: block;
}
