@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #131313;
}

h1,
h2,
h4 {
    color: #ffffff !important;
}

hr {
    border-top: 1px solid #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-navbar {
    background-color: rgb(24, 24, 24);
    border-bottom: 3px solid #0e0e0e;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff !important;
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff !important;
}

.header {
    position: relative;
    height: 100vh;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    position: relative;
    z-index: 2;
}

.header h1,
.header p {
    color: #212529;
}

.header .btn-primary {
    margin-top: 20px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.image-container {
    position: absolute;
    bottom: -15px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.header-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}

.section {
    padding: 60px 0;
}

.bg-light {
    background-color: #131313 !important;
}

#onas ul {
    padding: 0;
    list-style: none;
}

#onas li {
    margin-bottom: 1.5rem;
}

#onas li i {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    color: #ffffff;
    text-align: center;
}

#onas p {
    color: #ffffff;
}

#kontakt p {
    color: #ffffff;
}

.kariera-box {
    background-color: #181818;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#kariera .row {
    display: flex;
    flex-wrap: wrap;
}

#kariera .col-md-4 {
    display: flex;
    flex-direction: column;
}

#kariera .service-box {
    flex: 1;
}

.kariera-box h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.kariera-box:hover {
    transform: translateY(-10px);
}

.kariera-box img:hover {
    transform: scale(1.1);
}

.kariera-box p {
    color: #ffffff;
}

.kariera-box h5 {
    color: #ffffff;
}

#contact, #about {
    background-color: #ebebeb !important;
}

#typed-text-container {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

#typed-text {
    display: inline-block;
    border-right: 3px solid #ffffff;
    padding-right: 5px;
    animation: typing 2s steps(30) 1, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    transition: transform 0.3s ease-in-out;
}

.custom-navbar #logo {
    max-height: 30px;
    width: auto;
}

.gps {
    width: 500px;
    height: 500px;
}

.gps-red {
    color: #e04747;
}

.gps-orange {
    color: #ff8a00;
}

.gps-blue {
    color: #4a6fe3;
}

.aaa {
    background-color: #0e0e0e;
}